.checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-checkbox {
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.checkbox-label {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    cursor: pointer;
}

.option-box {
    border: 2px solid var(--skyblue-bg);
    border-radius: 20px;
    padding: 0.85em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option-box-title {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disabled {
    pointer-events: none;
    background: var(--gray-bg);
}

.checkbox-input {
    appearance: none;
    border: 1px solid var(--skyblue-bg);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.checkbox-input:checked {
    background-color: var(--skyblue-bg);
}

.checkbox-text {
    font-size: 16px;
}

.yesOrNoCheckBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
    margin-right: 5%;
}

/* SOLO CHECKBOXES CON UN LABEL Y UN TITULO */

.labelWithText {
    font-size: 1em;
    font-weight: bold;
    margin-right: 5%;
}

.text-for-checkbox {
    border-radius: 20px;
    border: 2px solid var(--skyblue-bg);
    outline: none;
    padding: 0.7em;
    transition: ease-in-out 0.3s all;
    font-size: 1.2em;
    width: 100%;
    align-self: center;
    text-align: center;
}

.text-for-checkbox::placeholder {
    color: var(--skyblue-bg);
    text-align: center;
}

.checkboxesAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yesOrNoCheckboxes {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.yesOrNoOnlyCheckboxesBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
}


/* SMALL */
@media screen and (max-width: 350px) {
    .yesOrNoCheckBox {
        width: 20%;
    }
}
/* SMALL */
@media screen and (min-width: 351px) and (max-width: 767px) {
    .yesOrNoCheckBox {
        width: 14%;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .yesOrNoCheckBox {
        width: 12%;
    }
    .checkbox-text {
        font-size: 16px;
        align-self: center;
    }
    .option-box {
        padding: 0.8em 0.5em;
        min-width: 310px;
    }
    .checkbox-label {
        margin-right: 10px;
        gap: 2px;
    }
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {

}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {

}