.navbar {
    width: 100%;
    background-color: var(--skyblue-bg);
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 2.5em;
    height: 10vh;
}

.navbar-home-container {
    width: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-arrow-container {
    width: 10%;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.navbar-arrow {
    width: 3.2em;
}

.navbar-title-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.navbar-title {
    color: var(--white-bg);
    font-size: 3em;

}
