.navbar {
    width: 100%;
    background-color: var(--skyblue-bg);
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 0.5em;
}

.navbar-arrow-container {
    width: 10%;
    padding: 0.1em;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.navbar-arrow {
    width: 3.2em;
}

.navbar-title-container {
    width: 80%;
    padding: 0.1em;    
    display: flex;
    justify-content: center;
}

.navbar-title {
    color: var(--white-bg);
    font-size: 3em;

}
