.table-container {
    padding: 1% 2%;
    margin: 2% auto;
    height: fit-content;
}
/* ------------------- */

.headers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    font-size: 2em;
    top: 0;
}

.table-row {
    border-radius: 20px;
    display: flex;
    margin-bottom: 0.6%;
    padding: 1% 0;
}

.table-row:hover {
    background-color: var(--gray-bg);
}

.table-cell {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* EXTRA SMALL */
@media screen and (max-width: 576px) {
    .headers {
        font-size: 1em;
    }
    .table-cell {
        font-size: 0.7em;
    }
}
/* SMALL */
@media screen and (min-width: 577px) and (max-width: 767px) {
    .headers {
        font-size: 1.5em;
    }
    .table-cell {
        font-size: 0.8em;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .headers {
        font-size: 1.5em;
    }
    .table-cell {
        font-size: 0.8em;
    }
}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {
    
}