
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-el {
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.input-el {
    border-radius: 20px;
    border: 2px solid var(--skyblue-bg);
    outline: none;
    padding: 0.7em;
    transition: ease-in-out 0.3s all;
    font-size: 1.2em;
    width: 100%;
}
.input-el::placeholder {
    color: var(--skyblue-bg);
    text-align: center;
}

.input-el:focus {
    border-color: var(--secondary-skyblue-bg);
}