
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.label-el {
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.input-el {
    border-radius: 20px;
    border: 2px solid var(--skyblue-bg);
    outline: none;
    padding: 0.7em;
    transition: ease-in-out 0.3s all;
    font-size: 1.2em;
    width: 100%;
    align-self: center;
    text-align: center;
}

.input-el::placeholder {
    color: var(--skyblue-bg);
    text-align: center;
}

.input-el:focus {
    border-color: var(--secondary-skyblue-bg);
}

.input-el-textarea {
    border-radius: 20px;
    border: 2px solid var(--skyblue-bg);
    outline: none;
    padding: 0.7em;
    transition: ease-in-out 0.3s all;
    font-size: 1.2em;
    width: 100%;
    height: 40vh;
}

.input-el-textarea::placeholder {
    color: var(--skyblue-bg);
    text-align: center;
}

.input-el-textarea:focus {
    border-color: var(--secondary-skyblue-bg);
}

textarea {
    resize: none;
}

::-webkit-datetime-edit-fields-wrapper {
    font-size: 1.6em;
}

::-webkit-scrollbar { display: none; }

/* EXTRA SMALL */
@media screen and (max-width: 576px) {
    .input-el-textarea {
        font-size: 1.4em;
        height: 50vh;
    }
}
/* SMALL */
@media screen and (min-width: 577px) and (max-width: 767px) {
    .input-el-textarea {
        font-size: 1.4em;
        height: 50vh;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .input-el-textarea {
        font-size: 1.4em;
        height: 50vh;
    }
}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {
    
}