.modal-center {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal-container {
    height: 70vh;
    width: 50vw;
    top: 270;
    padding: 2% 6% 2% 2%;
    background-color: var(--skyblue-bg);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
    scroll-behavior: smooth;
    border-radius: 20px;
}

.divCloseModal {
    width: 20px;
    float: right;
    z-index: 1000;
}

.closeModal {
    cursor: pointer;
    width: 20px;
    margin-left: 4%;
}

.displayModal {
  display: none;
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* EXTRA SMALL */
@media screen and (max-width: 576px) {

}
/* SMALL */
@media screen and (min-width: 577px) and (max-width: 767px) {

}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    
}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {
    
}