.select-patient-input {
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-row-shift {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
}

.addShift-input-container {
    width: 40%;
}

.btn-addShift-container {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 2% auto;
}

.textarea-input-shift {
    display: flex;
    justify-content: center;
    width: 90% !important;
    margin: auto;
}

/* EXTRA SMALL */
@media screen and (max-width: 576px) {
    .addShift-input-container {
        width: 70%;
    }
    .select-patient-input {
        width: 80%;
        margin: auto;
    }
    .btn-addShift-container {
        width: 40%;
        font-size: 1.3em;
    }
}
/* SMALL */
@media screen and (min-width: 577px) and (max-width: 767px) {
    .addShift-input-container {
        width: 70%;
    }
    .select-patient-input {
        width: 80%;
        margin: auto;
    }
    .btn-addShift-container {
        width: 40%;
        font-size: 1.3em;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .btn-addShift-container {
        width: 40%;
        font-size: 1.3em;
    }
}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {
    
}