
.input-patiente-row {
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
}

.btn-addPatient-container {
    display: flex;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-title {
    font-size: 30px;
}

.data {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* EXTRA SMALL */
@media screen and (max-width: 576px) {

}
/* SMALL */
@media screen and (min-width: 577px) and (max-width: 767px) {

}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    
}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {
    
}