.search-patient {
    margin: auto;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.patientList-input {
    width: 60%;
}

.patientList-btn {
    width: 30%;
    margin-left: 2%;
}

/* EXTRA SMALL */
@media screen and (max-width: 576px) {
    .patientList-input {
        width: 80%;
        margin: 2% 0;
    }
    .patientList-btn {
        width: 50%;
        font-size: 1.3em;
        margin: 2% 0;
    }
    .patientList-input {
        width: 80%;
        margin: 2% 0;
    }
    .search-patient {
        justify-content: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
}
/* SMALL */
@media screen and (min-width: 577px) and (max-width: 767px) {
    .search-patient {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .patientList-input {
        width: 80%;
        margin: 2% 0;
    }
    .patientList-btn {
        width: auto;
        font-size: 1.3em;
        margin: 2% 0;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .search-patient {
        width: 80%;
        justify-content: space-between;
    }
    .patientList-btn {
        width: auto;
    }
}
/* LARGE */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .search-patient {
        width: 80%;
        justify-content: space-between;
    }
}
/* EXTRA LARGE */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
}
/* EXTRA EXTRA LARGE */
@media screen and (min-width: 1400px) {
    
}